.cardBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  border: 1px solid slategray;
  width: 100%;
  margin: 20px;
  padding: 10px;
  font-size: 1em;
  line-height: 0;
}
